// Firefox
* {
  scrollbar-width: auto;
  scrollbar-color: $light-almond;
}

// Chrome, Edge, and Safari
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: $light-almond;
  border-radius: 10px;
}
