.grid-table {
  & > div {
    gap: 0.5rem;
  }

  .grid-row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center
  }

  .grid-header {
    font-weight: 700;
    padding: 1rem;
    background-color: $light-almond;
    color: $dark-green;
    border-radius: 1rem;
  }

  .grid-body {
    padding: 0.5rem;
    border-bottom: 1px solid $almond;
    margin: 0 1rem;
  }

  strong {
    color: $brick-red;
  }
}
